<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Crear Transporte</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>
  <div class="div_center">
    <form class="form" id="form" method="POST"
      action="<%= typeof transport !== 'undefined' && transport ? `/api/transport/${transport._id}` : '/api/transport' %>">
      <div class="div_sub_container_form">
        <a href="/transport" class="button_back">
          <div class="button_back_box">
            <span class="button_elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
            <span class="button-elem">
              <svg viewBox="0 0 46 40">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
          </div>
        </a>
        <p class="title">
          <%= typeof transport !=='undefined' && transport ? 'Editar' : 'Crear' %> horario de transporte
        </p>
      </div>

      <label>
        <input name="name" required type="text" class="input"
          value="<%= typeof transport !== 'undefined' && transport ? transport.name : '' %>" />
        <span>Nombre de la parada</span>
      </label>

      <label>
        <input name="contact" required type="number" class="input"
          value="<%= typeof transport !== 'undefined' && transport ? transport.contact : '' %>" />
        <span>Contacto</span>
      </label>

      <label>
        <input name="schedules" required type="text" class="input"
          value="<%= typeof transport !== 'undefined' && transport ? transport.schedules : '' %>" />
        <span>Horarios</span>
      </label>

      <label>
        <input name="address" required type="text" class="input"
          value="<%= typeof transport !== 'undefined' && transport ? transport.address : '' %>" />
        <span>Ubicación</span>
      </label>

      <label>
        <input name="price" required type="number" class="input"
          value="<%= typeof transport !== 'undefined' && transport ? transport.price : '' %>" />
        <span>Precio</span>
      </label>

      <button type="submit" class="button button_color_primary">
        <%= typeof transport !=='undefined' && transport ? 'Actualizar' : 'Crear' %> horario
      </button>
    </form>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer_row">
        <div class="footer_links">
          <h4>Mis vecinos</h4>
          <ul>
            <li><a href="#">Code Crafters team</a></li>
            <li><a href="#">codecrafters.com</a></li>
            <li><a href="#"> #code-crafters</a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">How It Works</a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Get In Touch</h4>
          <ul>
            <li><a href="#"> (506) 60324248 </a></li>
            <li><a href="#">info@codecrafters.com </a></li>
          </ul>
        </div>
        <div class="footer_links">
          <h4>Siguenos en redes sociales</h4>
          <div class="social_links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>